@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.custom-cards-container:hover .custom-card:not(:hover) {
  opacity: .5;
}

.custom-card:hover > img {
  animation: float 2s infinite;
}

.custom-card:hover > img {
  filter: drop-shadow(0px 1px 0px rgba(234, 86, 91, 0.365)) drop-shadow(0px 8px 14px rgba(234, 86, 91, 0.365)) drop-shadow(0px 16px 28px rgba(234, 86, 91, 0.365));
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.custom-single-front-card {
  transform: perspective(600px) rotateY(20deg);
  transition: transform 1s ease-out;
}

.custom-single-back-card {
  transform: perspective(600px) rotateY(-180deg);
  transition: transform 1s ease-out;
  backface-visibility: hidden;
}

.astral-card:hover .custom-single-front-card {
  transform: perspective(600px) rotateY(-180deg);
}

.astral-card:hover .custom-single-back-card {
  transform: perspective(600px) rotateY(-360deg);
}

.custom-hero-button:after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  filter: blur(8px);
  background: linear-gradient(45deg, #de397880, #FF8A2B, #ea565b91, #ECF8F8, #EEE4E1);
  background-size: 400%;
  z-index: -1;
  border-radius: 0.5rem;
  animation: glowing 20s linear infinite;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 900% 0;
  }
  100% {
    background-position: 1800% 0;
  }
}

.custom-hero-text {
  font-weight: bold;
  background: linear-gradient(10deg, #d91862, #ffa256);
  background-size: 400%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: gradient 4s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.custom-mobile-menu {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}